#map {
  height: 550px;
  box-shadow: 0 8px 16px -8px #222;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #E5E5E5;
  border-radius: 6px; }


.jumbotron {
  position: relative !important;
  padding: 60px 0 0 !important;
  color: black !important;
  text-align: left !important;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 0 30px rgba(0, 0, 0, 0.075) !important;
  background: linear-gradient(45deg, #C0C0C0 0%, white 100%) repeat scroll 0 0 transparent !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$header-start-color', endColorstr='$header-end-color',GradientType=1 )  !important;
  box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.2), inset 0 -3px 7px rgba(0, 0, 0, 0.2) !important; 
}
  
.jumbotron h1 {
    font-size: 60px !important; 
	}
	
